body{
    background-color: black;
    font-family: 'Segoe UI';
    color: whitesmoke;
}
p{
    font-size: 20px
}
a{
  color: lightblue;
  font-size: 20px;
}

table,th,td
  {
    border: 1px solid white;
  }

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: grey;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
  }
  
  .sidenav a:hover {
    color: #8cc4f1;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /*             */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    body{
        background-color: #064579;
    }
  }